extends layout

block content

    if(!flash.successSignup)

        form#authForm(action='/signup', method='post')

            input(type='text', name='login', placeholder='Логин')
            if errors && errors.login
                span.authError= errors.login.msg

            input(type='email', name='email', placeholder='E-mail')
            if errors && errors.email
                span.authError= errors.email.msg

            input(type='password', name='password', placeholder='Пароль')
            if errors && errors.password
                span.authError= errors.password.msg

            input(type='password', name='confirm', placeholder='Пароль ещё раз')
            if errors && errors.confirm
                span.authError= errors.confirm.msg

            div.captcha
                div.captcha-container
                    != captchaRender

            if errors && errors.captcha
                div.authError= errors.captcha.msg

            button(type='submit') Регистрация

    else
        div #{flash.successSignup}