extends layout

block content

    p.settings_block_title Безопасность

    div.settings_password
        div.settings_subtitle_block Пароль
        div.setting_pass_update_info Ваш пароль был обновлен #{moment(updatePassword).fromNow()}
        div.settings_pass_resset
            form(method='post', action='/user/settings/security/password/reset')
                button#settings_pass_reset_button(type='submit') Сбросить пароль

    div.sessions
        div.settings_subtitle_block Последняя активность
        div.last_sessions
            span
                | Браузер: #{sessions[0].session.userInfo.browser}, ОС: #{sessions[0].session.userInfo.os}
                span.session_date #{moment(sessions[0].session.date).fromNow()}
            span.session_on онлайн

        ul.sessions_all
            each data in sessions
                li
                    span
                        | Браузер: #{data.session.userInfo.browser}, ОС: #{data.session.userInfo.os}
                        span.session_date #{moment(data.session.date).fromNow()}
                    if data._id == currentSessionID
                        span.session_on онлайн


        if sessions.length > 1
            div.sessions_btn
                a(id='show_sessions', data='show').button Показать
                form(method='post', action='/user/settings/security/session/remove', style='display: inline-block')
                    button#settings_session_resset_button(type='submit').button Завершить кроме текущего