extends ../layout

block content

    include ../includes/gamesMenu

    //- Считаем количество свободных ставок
    -var rateOpen = game.userLimit - game.rates.length;

    //- Считаем выигрыш для каждого победителя в игре с учетом комиссии
    -var profit = (game.rateSize * game.userLimit) - (game.rateSize * game.userLimit) * commission / 100 ;

    //- Считаем процент прибыли для победителя
    -var profitPercent = profit / game.userWinners / game.rateSize * 100;

    //- TODO Сделать агитационный баннер с процентом приыли


    div.game

        ul.rateList

            each rate in game.rates
                li
                    a.rateItem(href='/user/' + rate.userId._id, title=rate.userId.login)
                        img(src='/upload/avatars/user.png')

            -for(var g = 0; g < rateOpen; g++)
                li
                    a.rateItem.clear_rate(title='')
                        img(src='/img/norate.svg')

        div.game_info
            case game.status
                when 'active'
                    span#game_status_active Статус: Активно
                when 'completed'
                    span#game_status_completed Статус: Завершено
                when 'pause'
                    span#game_status_pause Статус: Приостановлено
                when 'parsing'
                    span#game_status_parsing Статус: Обрабатывается
                when 'verify'
                    span#game_status_verify Статус: Проверяется
            | <span>Пользователей: #{game.userLimit}</span>
            | <span>Ставка: #{game.rateSize}₽</span>
            | <span>Призовые места: #{game.userWinners}</span>

        if(game.status == 'active')
            div.game_button_groupe
                form.close_game(action='/admin/game/close/' + game._id, method='post')
                    button.btn_hover(type='submit') Закрыть игру
                form.verify_game(action='/admin/game/verify/' + game._id, method='post')
                    button.btn_hover(type='submit') Отправить на проверку

            div.game_rates_history
                h3 История ставок
                ul.rate_history_list.reset
                    each rate in game.rates
                        li
                            a(href='/user/' + rate.userId._id) #{rate.userId.login}
                            span #{moment(rate.date).fromNow()}

        else
            div Прием участников закончен!